.forgot-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.forgot-box{
background:white;
padding:35px;
border-radius:12px;
width:340px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.forgot-box h2{
text-align:center;
margin-bottom:20px;
}

.forgot-box input{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:6px;
}

.forgot-box button{
width:100%;
padding:12px;
background:#27ae60;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.forgot-box button:hover{
background:#219150;
}

.message{
text-align:center;
margin-top:10px;
color:green;
}
